@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", sans-serif;
}

.home-leading-large {
  font-size: 56px;
}
.home-leading-small {
  font-size: 34px;
}
.auto {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
